[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.form-inline {
  display: inline-block;
}

.clearfix {
  clear: both;
}

.tea-col {
  width: 250px;
}

.checkout-btn {
  width: 200px;
}

.checkout-product {
  width: 600px;
}

.checkout-quantity, .checkout-subtotal {
  width: 125px;
}