<div class="container">
  <div>
    <h2 class="pull-left">My Shopping Bag</h2>
    <h2 class="pull-right">Order Total: {{ checkout.total() || '0' | currency}}</h2>
  </div>

  <table class="table table-bordered">
    <tr>
      <td class="checkout-product">Product</td>
      <td class="checkout-quantity">Quantity</td>
      <td class="checkout-subtotal">Sub-total</td>
    </tr>
    <tr ng-repeat="tea in checkout.cart">
      <td class="checkout-product">
        <div>
          <h3>{{tea.name}}</h3>
          <img ng-src="{{tea.imageUrl}}">
          <p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>
          <p><strong>Ingredients: </strong>{{tea.ingredients}}</p>
          <p><strong>Rating: </strong>{{tea.rating}}</p>
        </div>
      </td>
      <td class="checkout-quantity">
        <span ng-hide="editTea === true">{{tea.quantity}}</span>
        <input type="number" class="form-control input-sm" id="add-quantity" ng-model="tea.quantity" ng-show="editTea === true">
      </td>
      <td class="checkout-subtotal"><span>{{checkout.subtotal(tea) | currency}}</span></td>
      <td class="checkout-btn">
        <button class="btn btn-warning" ng-click="editTea = !editTea" ng-init="editTea = false" ng-hide="editTea === true">Edit</button>
        <button class="btn btn-warning" ng-click="editTea = !editTea" ng-show="editTea === true">Update</button>
        <button class="btn btn-danger" ng-click="checkout.deleteFromCart(tea)">Remove</button>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary pull-right">Place Order</button>
</div>