<div class="container">
  <div>
    <h2 class="pull-left">My Shopping Bag</h2>
    <h2 class="pull-right">Order Total: {{ total || '0' | currency}}</h2>
  </div>

  <table class="table table-bordered">
    <tr>
      <td class="checkout-product">Product</td>
      <td class="checkout-quantity">Quantity</td>
      <td class="checkout-subtotal">Sub-total</td>
    </tr>
    <tr ng-repeat="tea in checkout.cart">
      <td class="checkout-product">
        <div>
          <h3>{{tea.name}}</h3>
          <img ng-src="{{tea.imageUrl}}">
          <p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>
          <p><strong>Ingredients: </strong>{{tea.ingredients}}</p>
          <p><strong>Rating: </strong>{{tea.rating}}</p>
        </div>
      </td>
      <td class="checkout-quantity">
        <span>{{tea.quantity}}</span>
      </td>
      <td class="checkout-subtotal"><span>{{tea.subtotal(tea.price, tea.quantity)}}</span></td>
      <td class="checkout-btn">
        <button class="btn btn-warning" ng-click="">Edit</button>
        <button class="btn btn-danger" ng-click="checkout.deleteFromCart(tea)">Remove</button>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary pull-right">Place Order</button>
</div>