<div class="container">
  <form class="form-inline category-form">
    <label>Search by category: </label>
    <select class="form-control input-sm" ng-model="category">
      <option value=""></option>
      <option value="awesome">awesome</option>
      <option value="cold">cold</option>
      <option value="dark">dark</option>
      <option value="dry">dry</option>
      <option value="hot">hot</option>
      <option value="lucid">lucid</option>
      <option value="spring">spring</option>
      <option value="summer">summer</option>
      <option value="warm">warm</option>
      <option value="winter">winter</option>
    </select>

    <label>Search by name: </label>
    <input type="text" class="form-control input-sm" ng-model="search">
  </form>

  <a href="/checkout" role="button" class="btn btn-danger pull-right"><strong>Checkout</strong> | Bag: {{cart.items || 'Empty!'}}</a>

  <table class="table table-bordered">
    <tr>
      <td class="tea-col">Tea</td>
      <td>
        Information
        <form class="form-inline pull-right">
          <label>Sort by price: </label>
          <select class="form-control input-sm" ng-model="reverse" ng-init="reverse='low'">
            <option value="low">lowest</option>
            <option value="high">highest</option>
          </select>
        </form>
      </td>
    </tr>
    <tr ng-repeat="tea in shop.inventory | orderBy : 'price' : reverse === 'low' ? false : true | filter : category"> 
      <td class="tea-col"><img ng-src="{{tea.imageUrl}}"></td>
      <td>
        <div>
          <h3 class="pull-left">{{tea.name}}</h3>
          <form class="form-inline form-group-sm pull-right">
            <span class="form-group form-group-sm">
              <label><h3>Quanitity:</h3></label>
              <select class="form-controler input-sm" ng-model="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <button type="submit" class="btn btn-warning btn-sm">add to cart</button>
            </span>
          </form>
        </div>
        <div class="clearfix">
          <p><strong>Price: </strong>{{tea.price / 100 | currency}}</p>
          <p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>
          <p><strong>Ingredients: </strong>{{tea.ingredients}}</p>
          <p><strong>Rating: </strong>{{tea.rating}}</p>
          <p><strong>In Stock? </strong>{{tea.inStock ? 'Yes' : 'No'}}</p>
          <p><strong>Categories:</strong></p>
          <ul ng-repeat="category in tea.categories">
            <li>{{category}}</li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>