<div class="container">
  <form class="form-inline category-form">
    <label>Search by category: </label>
    <select class="form-control input-sm" ng-model="search.categories">
      <option value=""></option>
      <option value="{{category}}" ng-repeat="category in shop.categories">{{category}}</option>
    </select>

    <label>Search by name: </label>
    <input type="text" class="form-control input-sm" ng-model="search.$">
  </form>

  <a href="/checkout" role="button" class="btn btn-danger pull-right"><strong>Checkout</strong> | Bag: {{shop.cart || 'Empty!'}}</a>

  <table class="table table-bordered">
    <tr>
      <td class="tea-col">Tea</td>
      <td>
        Information
        <form class="form-inline pull-right">
          <label>Sort by price: </label>
          <select class="form-control input-sm" ng-model="reverse" ng-init="reverse='low'">
            <option value="low">lowest</option>
            <option value="high">highest</option>
          </select>
        </form>
      </td>
    </tr>
    <tr ng-repeat="tea in shop.inventory | orderBy : 'price' : reverse === 'low' ? false : true | filter : search"> 
      <td class="tea-col"><img ng-src="{{tea.imageUrl}}"></td>
      <td>
        <div>
          <h3 class="pull-left">{{tea.name}}</h3>
          <form class="form-inline form-group-sm pull-right">
            <span class="form-group form-group-sm">
              <label><h3>Quanitity:</h3></label>
              <input type="number" class="form-control input-sm" id="add-quantity" ng-model="tea.addQuantity">
              <button type="submit" class="btn btn-warning btn-sm" ng-click="shop.addToCart(tea)">add to cart</button>
            </span>
          </form>
        </div>
        <div class="clearfix">
          <p><strong>Price: </strong>{{tea.price / 100 | currency}}</p>
          <p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>
          <p><strong>Ingredients: </strong>{{tea.ingredients}}</p>
          <p><strong>Rating: </strong>{{tea.rating}}</p>
          <p><strong>In Stock? </strong>{{tea.inStock ? 'Yes' : 'No'}}</p>
          <p><strong>Categories:</strong></p>
          <ul ng-repeat="category in tea.categories">
            <li>{{category}}</li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>